In [2]:
#import libraries
import pandas as pd

In [3]:
# read in the excel datasets and put into a panda dataframe
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')
Xlfile = pd.read_excel(xls,sheet_name=4,header=0)
Customer_Address = pd.DataFrame(Xlfile)

In [4]:
# find number of rows and columns in the DataFrame.
Customer_Address.shape

(3999, 6)

In [5]:
#concise summary of a DataFrame's data
Customer_Address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [6]:
# check the first 5 records
Customer_Address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [7]:
# check the last 5 records
Customer_Address.tail()

,customer_id,address,postcode,state,country,property_valuation
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [8]:
Customer_Address.isnull()

      customer_id  address  postcode  state  country  property_valuation
0           False    False     False  False    False               False
1           False    False     False  False    False               False
2           False    False     False  False    False               False
3           False    False     False  False    False               False
4           False    False     False  False    False               False
...           ...      ...       ...    ...      ...                 ...
3994        False    False     False  False    False               False
3995        False    False     False  False    False               False
3996        False    False     False  False    False               False
3997        False    False     False  False    False               False
3998        False    False     False  False    False               False

[3999 rows x 6 columns]

In [9]:
# check for null values
Customer_Address.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [10]:
# check uniqueness
pd.Series(Customer_Address['customer_id']).is_unique

True

In [11]:
Customer_Address.nunique()

customer_id           3999
address               3996
postcode               873
state                    5
country                  1
property_valuation      12
dtype: int64

In [12]:
Customer_Address.duplicated().sum()

0

In [13]:
# check there are no duplicate properties
Customer_Address.duplicated(subset=['address', 'postcode'],keep='first').value_counts()

False    3999
dtype: int64

In [14]:
# show the frequency of different postcodes
Customer_Address['address'].value_counts()

3 Mariners Cove Terrace      2
3 Talisman Place             2
64 Macpherson Junction       2
359 Briar Crest Road         1
4543 Service Terrace         1
                            ..
5063 Shopko Pass             1
09 Hagan Pass                1
87897 Lighthouse Bay Pass    1
294 Lawn Junction            1
320 Acker Drive              1
Name: address, Length: 3996, dtype: int64

In [15]:
# show the frequency of different states
Customer_Address['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [16]:
Customer_Address['state'].replace({'New South Wales':'NSW','Victoria':'VIC'},inplace = True)

In [17]:
Customer_Address['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [18]:
#converts all the column names of the DataFrame 'df2' to lowercase
Customer_Address.columns = map(str.lower, Customer_Address.columns)

In [19]:
Customer_Address.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [20]:
# removes leading and trailing whitespaces from the column names
Customer_Address.columns = map(str.strip, Customer_Address.columns)

In [21]:
Customer_Address.to_csv('finalCa_cleaned.csv', index='False')

In [23]:
Customer_Address.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64