In [4]:
#Import libraries
import pandas as pd

In [5]:
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')

# pd.ExcelFile: This is a function from the Pandas library that is used to create an ExcelFile object. 
# 'KPMG_VI_New_raw_data_update_final.xlsx': This is the name of the Excel file you want to work with. 
# xls = An ExcelFile object named xls that represents the specified Excel file, which you can then use to read data from that file using Pandas functions like pd.read_excel().

In [ ]:
pd3 = pd.read_excel(xls, sheet_name=1, header=0)

# pd.read_excel(): This is a Pandas function used for reading data from Excel files.
# xls: This is the ExcelFile object that we created earlier using pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx'). It represents the Excel file you want to read from.
# sheet_name=1: This specifies which sheet from the Excel file to read. In this case, it's reading the sheet at index 1. Sheet indices in Pandas are zero-based, so index 1 corresponds to the second sheet in the Excel file.
# header=0: This specifies the row in the Excel sheet that should be used as the header row. In this case, header=0 indicates that the first row of data in the selected sheet will be used as the column headers in the resulting DataFrame.
# So, when you execute the code it reads then stored in a Pandas DataFrame named pd3.

In [ ]:
transaction = pd.DataFrame(pd3)

# In the code you provided, you are creating a new Pandas DataFrame named transaction and initializing it with the data from the pd3 DataFrame. 
# Essentially, you are making a copy of the data from pd3 and storing it in a new DataFrame called transaction. Here's the code:
# Now, you have a new DataFrame called transaction that contains the same data as pd3. 
# You can perform various operations and analyses on this DataFrame without affecting the original data in pd3. 
# This can be useful if you want to keep a separate copy of the data for a specific analysis or transformation.

In [6]:
transaction.info()

# info() method in Pandas is used to get a concise summary of the DataFrame's information. It provides useful information about the DataFrame, including:

#The total number of rows and columns.
#The data types of each column.
#The number of non-null (non-missing) values in each column.
#The memory usage of the DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [8]:
transaction['transaction_date'] = pd.to_datetime(transaction['transaction_date'],unit='s')

# transaction['transaction_date']: This accesses the column named 'transaction_date' in the transaction DataFrame. 
# pd.to_datetime(): This is a Pandas function used for converting a series of values to datetime objects.
# In this case, you are applying it to the 'transaction_date' column.
# unit='s': This parameter specifies the unit of the input values in the 'transaction_date' column. 
# By setting it to 's', you are indicating that the values in the column are in seconds since the Unix epoch (January 1, 1970).

In [9]:
transaction.head()
# head() method is used to display the first 5 rows of the transactions.

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,253,2,3123,2017-12-30,0.0,Approved,Giant Bicycles,Road,low,small,590.26,525.33,40487.0
1,411,62,3355,2017-12-30,0.0,Approved,Solex,Standard,medium,medium,478.16,298.72,34143.0
2,497,62,1854,2017-12-30,1.0,Approved,Solex,Standard,high,medium,1024.66,614.80,34244.0
3,606,70,2878,2017-12-30,0.0,Approved,Trek Bicycles,Standard,high,medium,495.72,297.43,36367.0
4,748,80,2865,2017-12-30,1.0,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,41047.0

In [6]:
transaction['product_first_sold_date'] = transaction['product_first_sold_date'].fillna(transaction['product_first_sold_date'].mean())

# transaction['product_first_sold_date']: This accesses the 'product_first_sold_date' column in the transaction DataFrame.
# .fillna(): This is a Pandas function used to fill missing (NaN) values in a DataFrame or Series.
# transaction['product_first_sold_date'].mean(): This calculates mean (average) value of the 'product_first_sold_date' column, excluding missing values.
# So, when we execute it, it replaces any missing values in the 'product_first_sold_date' column with the mean value of the non-missing dates in that same column.
#  This is a common strategy for handling missing data by imputing missing values with a central tendency measure like the mean.

In [ ]:
# fill the missing data using the back-fill method
transaction['online_order'] = transaction['online_order'].fillna(method='bfill')
# fill the missing data using the forward-fill method
transaction['brand'] = transaction['brand'].fillna(method='ffill')
# fill the missing data using the back-fill method
transaction['product_line'] = transaction['product_line'].fillna(method='bfill')
# fill the missing data using the back-fill method
transaction['product_class'] = transaction['product_class'].fillna(method='bfill')
# fill the missing data using the forward-fill method
transaction['product_size'] = transaction['product_size'].fillna(method='ffill')

In [7]:
dups = transaction.duplicated()
transaction[dups].sum()

# dups = transaction.duplicated(): This line of code creates a boolean Series named dups using the duplicated() method. 
# Each element in the Series corresponds to a row in the DataFrame and is True if the row is a duplicate of a previous row, and False otherwise.
# transaction[dups]: This line of code filters the transaction DataFrame using the dups boolean Series. 
# It selects only the rows where dups is True, i.e., the duplicated rows.
# .sum(): Finally, it calculates the sum of all values in the DataFrame obtained in the previous step. This effectively sums up all the duplicated rows.

C:\Users\Dell\AppData\Local\Temp\ipykernel_14060\2310699434.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  transaction[dups].sum()

transaction_id             0.0
product_id                 0.0
customer_id                0.0
online_order               0.0
order_status               0.0
brand                      0.0
product_line               0.0
product_class              0.0
product_size               0.0
list_price                 0.0
standard_cost              0.0
product_first_sold_date    0.0
dtype: float64

In [8]:
transaction.isnull().sum()

# isnull().sum(), is used to count the number of missing (NaN) values in each column of the transaction DataFrame. 
# When you run transaction.isnull().sum(), you will get a Pandas Series where the index represents the column names of the transaction DataFrame, and the values represent the count of missing values in each respective column. 
# This is a useful way to quickly assess which columns have missing data and how many missing values they contain.

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date      0
dtype: int64

In [10]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             20000 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    20000 non-null  object
 7   product_line             20000 non-null  object
 8   product_class            20000 non-null  object
 9   product_size             20000 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  20000 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [11]:
#print to csv file after the cleaning
transaction.to_csv('transaction.csv',index=False)
# The index=False argument indicates that you don't want to include the index column from the DataFrame in the CSV file.